---
- name: Fetch ShellCheck
  ansible.builtin.command: "curl -fsSL -o /tmp/shellcheck.tar.xz https://github.com/koalaman/shellcheck/releases/download/{{ shellcheck_version }}/shellcheck-{{ shellcheck_version }}.linux.x86_64.tar.xz"
  args:
    creates: /tmp/shellcheck.tar.xz
  become: true

- name: Unpack ShellCheck
  ansible.builtin.unarchive:
    src: /tmp/shellcheck.tar.xz
    dest: /tmp
    list_files: true
    remote_src: true
  become: true

- name: Install ShellCheck to /usr/local/bin/shellcheck
  ansible.builtin.copy:
    src: '/tmp/shellcheck-{{ shellcheck_version }}/shellcheck'
    dest: /usr/local/bin/shellcheck
    mode: 0755
    owner: root
    remote_src: true
  become: true
